---
layout: base
title: Animals
pagination:
  data: photos.h8stntd.media
  size: 1
---
<header>
    <h1>{{ title }} </h1>
</header>

<div style="font-size:24px;margin:0; padding:0; text-align: center">
  <body>

          <ul>
          <div style="text-align:center;">
            <p>{% if pagination.href.previous %}<a href="{{pagination.href.previous}}">Previous</a>{% else %}Previous{% endif %}</p>
            <p>{% if pagination.href.next %}<a href="{{pagination.href.next}}">Next</a>{% else %}Next{% endif %}</p>
          </div>
          </ul>

    <ul style="align:center">
      {% for animals in pagination.items -%}
      <img src= "{{ animals.src.large }}" alt="{{animals.alt}}">
      <p>{{animals.alt}}</p>
      <p>Photographer: {{animals.photographer}}</p>
      {% endfor -%}
    </ul>

            <a href="http://localhost:8080//">Home</a>
            <br>
            <a href="http://localhost:8080/about/">About Us</a>
  </body>
</div>

<footer>
    <hr>
    <p>
        <small>
            <a href="https://www.pexels.com">Photos provided by Pexels</a>
        </small>
    </p>
</footer>
